<nav color = "primary" class="navbar navbar-expand-lg navbar-light bg-ligh color-indigo">
  <a class="navbar-brand" routerLink = "home"><button mat-button class = "text-color-white"><i class="material-icons">document_scanner</i>PolicyApp</button></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" routerLink = "search"><button mat-button class = "text-color-white"><i class="material-icons">content_paste_search</i>Search</button></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink = "add"><button mat-button class = "text-color-white"><i class="material-icons">add</i>Add Policy</button></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink = "update"><button mat-button class = "text-color-white"><i class="material-icons">change_history</i>Update Policy</button></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink = "delete"><button mat-button class = "text-color-white"><i class="material-icons">delete</i>Delete Policy</button></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink = "data"><button mat-button class = "text-color-white"><i class="material-icons">perm_data_setting</i>Data Visualizer</button></a>
      </li>
      
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>