<mat-grid-list cols="5" rowHeight="3:4">
    
    <a routerLink = "../search" routerLinkActive= ""><mat-grid-tile id="SearchPolicy"><i class="material-icons">content_paste_search</i>Search Policy</mat-grid-tile></a>
    <a routerLink = "../add" routerLinkActive= ""><mat-grid-tile id="AddPolicy"><i class="material-icons">add</i>Add Policy</mat-grid-tile></a>
    <a routerLink = "../update" routerLinkActive= ""><mat-grid-tile id="UpdatePolicy"><i class="material-icons">change_history</i>Update Policy</mat-grid-tile></a>
    <a routerLink = "../delete" routerLinkActive= ""><mat-grid-tile id="DeletePolicy"><i class="material-icons">delete</i>Delete Policy</mat-grid-tile></a>
    <a routerLink = "../data" routerLinkActive= ""><mat-grid-tile id="DataVisualizer"><i class="material-icons">perm_data_setting</i>Data Visualizer</mat-grid-tile></a>
    
  </mat-grid-list>

